
    {% extends "proyectoccvaapp/base.html" %}

    {% load static %}


    {% block content %}

    <!-- Message -->
<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">CCVA</span>
            <span class="section-heading-lower">Misión</span>
          </h2>
          <p class="mb-0">
            
            Representar, promover y defender los intereses generales del Comercio y la Industria. Participar activamente en el desarrollo económico y empresarial. Liderar la creación, consolidación y desarrollo de las empresas.
            .</p>
        </div>
      </div>
    </div>
  </div>
</section>

    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">CCVA</span>
                <span class="section-heading-lower">Visión </span>
              </h2>
              <p class="mb-0">
                
                Ser el gremio empresarial líder en el país, propulsor del comercio formal, el crecimiento económico y el fortalecimiento institucional.                .</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div style="position: relative; width: 100%; height: 0; padding-top: 75.0000%;
 padding-bottom: 48px; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;
 border-radius: 8px; will-change: transform;">
  <iframe loading="lazy" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
    src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAFKrAFl_pc&#x2F;view?embed" allowfullscreen="allowfullscreen" allow="fullscreen">
  </iframe>
</div>
<a href="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAFKrAFl_pc&#x2F;view?utm_content=DAFKrAFl_pc&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener">#</a> 






{% endblock %}
